/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #e98db0;
    --primary-hover: #d58de9;
    --primary-focus: #4e3555;
    --primary-inverse: #FFF;
    --background-color: #11111f;
  }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #e98db0;
  --primary-hover: #d58de9;
  --primary-focus: #4e3555;
  --primary-inverse: #FFF;
  --background-color: #11111f;
}

/* Pink (Common styles) */
:root {
  --font-size: 16px;
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

nav a {
  font-weight: bold;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

header {
  margin-bottom: 1rem;
}
header h1 {
  margin-bottom: 0;
  color: #28284a;
}
header h1 .ov-icon {
  vertical-align: -1rem;
  margin-left: -1.5rem;
}
header nav {
  border-bottom: 1px solid #28284a;
}

table tbody th,
table tbody td {
  vertical-align: baseline;
}

table tbody td details {
  margin: 0;
  padding: 0;
  border: 0;
}

mark {
  background-color: #d1ac84;
}

.tags {
  line-height: 2rem;
}
.tags .label kbd {
  background-color: #918de9;
  margin-right: .4rem;
}
.tags .filter kbd {
  cursor: pointer;
  background-color: var(--primary);
  margin-right: .4rem;
}
.tags .filter kbd:hover {
  background-color: var(--primary-hover);
}
.tags .filter.search kbd {
  background-color: var(--primary-focus);
}
.tags .filter.active kbd {
  background-color: var(--primary-hover);
}

.decrypt {
  float: right;
  font-weight: normal;
}
a.decrypt:hover {
  cursor: pointer;
  background-color: transparent;
}

dialog article {
  min-width: 760px;
}

.config-grid article {
  margin-bottom: 1rem;
  padding: calc(var(--block-spacing-vertical) * .5) var(--block-spacing-horizontal)
}
.config-grid article>header {
  margin-bottom: calc(var(--block-spacing-vertical) * .5);
}

article header hgroup {
  margin-bottom: 0;
}
article header .tags kbd {
  font-size: .8rem;
}
article header .tags .filter kbd {
  background-color: var(--primary-hover);
}